@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto";
}

body {
  background-color: rgb(248, 248, 248);
}

h3 {
  font-size: 0.77rem;
}

nav {
  background-color: rgb(224, 223, 223);
  display: flex;
  position: relative;
  padding-top: 0.4rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
  line-height: 1.2rem;
  margin-right: 1rem;
}

a:active {
  color: black;
}

.link {
  align-self: flex-end;
  margin-left: auto;
}

.page_title {
  font-weight: 600;
  font-size: 0.8rem;
}

.logo_icon {
  margin-left: 3rem;
}

.logo {
  margin-left: 0.3rem;
  font-size: 0.8rem;
  line-height: 1rem;
}

.material-symbols-outlined.logo {
  font-size: 1.1rem;
  color: black;
}

.page_title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

main {
  /* border: 1px solid black; */
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
  height: 89vh;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.form_group > label {
  font-weight: 600;
  font-size: 0.57rem;
  margin-bottom: 0.1rem;
}

.btn {
  height: 1.38rem;
  font-size: 0.6rem;
  margin-top: auto;
  background-color: rgb(0, 81, 255);
  border: none;
  color: white;
  border-radius: 2px;
  padding: 0 0.9rem;
}

.redbtn {
  background-color: brown;
  height: 1.38rem;
  font-size: 0.6rem;
  margin-top: auto;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 0 0.9rem;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.left {
  /* border: 1px solid black; */
  border-right: 1px solid rgb(206, 206, 206);
  padding-right: 1.5rem;
  overflow-y: auto;
}

.right {
  /* border: 1px solid black; */
  padding-left: 1.5rem;
}

.App {
  height: 100vh;
}

.manage_bar {
  display: flex;
  /* border: 1px solid black; */
  width: 100%;
}

.product_search {
  width: 15rem;
}

.product_qtd {
  width: 6rem;
}

.product_list {
  /* border: 1px solid black; */
  margin-top: 1.5rem;
  width: 100%;
}

table th {
  font-weight: 600;
  font-size: 0.6rem;
  text-align: right;
}

table td {
  font-size: 0.6rem;
  text-align: right;
}

.first_item {
  text-align: left;
}

.material-symbols-outlined {
  font-size: 0.8rem;
  color: brown;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.select_people_config {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.select_people_config .form_group {
  margin-bottom: 1.2rem;
  margin-right: 0;
}

.select_people_config select {
  font-size: 0.6rem;
  width: 14rem;
  height: 1.4rem;
}

.total {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.actions {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.add_input {
  width: 10rem;
  margin-bottom: 0.5rem;
}

.btnadd {
  height: 1.38rem;
  font-size: 0.6rem;
  margin: 0.5rem 0;
  background-color: rgb(0, 81, 255);
  border: none;
  color: white;
  border-radius: 2px;
  padding: 0 0.9rem;
}
